<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box">
            <div class="field">
              <h1 style="color:red">{{message}}</h1>
              <label for="" class="label">Username</label>
              <div class="control has-icons-left">
                <input type="text" name="firstname" [(ngModel)]="firstname" placeholder="e.g. Username" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                
                </span>
                <!-- <h2>{{firstname}}</h2> -->
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input [(ngModel)]="pass" name="pass" type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button (click)="onClick()" [disabled]="!firstname && !pass" class="button is-success">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <h2>{{users[0]?.username}}</h2>
  <h2>{{users[0]?.password}}</h2>
</section>

